@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 2, 6, 23;
  --background-end-rgb: 15, 23, 42;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  background-attachment: fixed;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .glass {
    @apply bg-slate-900/50 backdrop-blur-md border border-slate-800/50 shadow-xl;
  }
  .glass-card {
    @apply bg-slate-800/40 backdrop-blur-sm border border-slate-700/50 shadow-lg rounded-2xl;
  }
}
